* {
  box-sizing: border-box;
}
.App {
  padding: 0 70px;
  font-family: 'Comic Sans MS';
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a:active {
  display: inline-block;
  color: brown;
}
label {
  display: inline-block;
  width: 150px;
}

select {
  width: 100px;
}

button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #215D69;
  margin: 10px 10px 10px 20px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-size: 13px;
  background-color: transparent;
  text-align: center;
}

button:focus {
  outline: none;
  background-color: khaki;
}

img {
  height: 17px;
  width: 31px;
}

h1, h2 {
  text-align: center;
  color: white;
  background-color: mediumseagreen;
  line-height: 50px;
}

h3, h4 {
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0;
  line-height: 40px;
}

.buttons-flex {
  display: flex;
}

.form-container {
  width: 600px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: lightblue;
  margin: 20px;
  z-index: 9999;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: powderblue;
  padding: 20px;
  border-radius: 10px;
  width: 420px;
  font-family: 'Comic Sans MS';
}

.link {
  color: #215D69;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 400px;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS';
} 

textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  font-family: 'Comic Sans MS';
}

input, textarea:focus {
  outline: none;
}

/* Category style */
.category-page-container {
  font-family: 'Comic Sans MS';
  width: 100%;
  padding-right: 10px;
}
.category-link, .category-name {
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 50px;
  color: white;
  background-color: mediumseagreen;
  font-size: 16px;
  margin-top: 20px;
}

/* Post style */
.post-detail-container {
  width: 100%;
}
.main-content {
  display: flex;
}
.post-actions-container {
  display: flex;
  border-bottom: 1px solid khaki;
}
.post-detail-header {
  text-align: center;
  color: white;
  background-color: mediumseagreen;
  line-height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.post-detail-content {
  display: flex;
  padding: 20px;
}
.post-actions {
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 20px;
}
.post-detail-actions {
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}
.post-container {
  width: 100%;
  background-color: #F2F2F2;
  padding-left: 20px;
  margin-bottom: 30px;
}
.group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  padding-top: 20px;
}
.title {
  display: flex;
  align-items: center;
  width: 60%;
  padding-right: 20px;
}
.actions {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.content {
  padding-top: 20px;
}
.vote-score {
  padding-right: 30px;
}
.vote-score-result {
  text-align: center;
}
.create-post-header {
  text-align: center;
  line-height: 50px;
}
.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-add-post {
  display: block;
  position: fixed;
  right: 8px;
  top: 550px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  background-color: brown;
  font-size: 0;
  color: white;
}
.btn-add-post:focus {
  background-color: transparent;
}

.btn-submit-post, .btn-save-edit-post, .btn-cancel-edit-post {
  text-align: left;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
}
.post-main-contents {
  line-height: 30px;
}
/*.post-actions {
  padding-left: 20px;
}*/
/* Comment style */
.comment-detail-container {
  width: 100%;
}
.comment-detail-header {
  text-align: center;
  color: white;
  background-color: mediumseagreen;
  line-height: 50px;
  margin-bottom: 10px;
}
.comment-detail-content {
  padding: 20px;
}
.comment-container {
  width: 100%;
  display: flex;
}

.comment-container .link {
  padding-right: 50px;
}

.container {
  width: 100%;
  align-items: center;
}
.comment-content {
  display: flex;
  width: 60%;
  margin-right: 40px;
}
.comment-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-comment-button {
  width: 200px;
  text-align: left;
}

.add-show-comment-container {
  display: flex;
}

.main-comments {
  margin-bottom: 30px;

}

.main-content {
  width: 100%;
}

.comment-main-content {
  width: 60%;
}

.comment-actions {
  display: flex;
  flex-wrap: nowrap;
}

.comments {
  border-left: 1px solid khaki;
}

.comments-container {
  border-left: 2px solid khaki;
}
/*Page not found*/
.page-not-found-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.not-found-page-content {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-name {
  margin-top: 20px;
}

.sort-buttons {
  line-height: 60px;
}
.sort {
  width: 170px;
}
